<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans    
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">  
 
 
    <!-- spring 加载管理控制的包,Spring自动注入方式一，自动注入方式 ，Controller在Controller中已经管过了，就不需要要在进行注入扫描了-->
	<context:component-scan base-package="org.cj">
		  <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" /> 
	</context:component-scan>


    <!-- 选择要加载的项目文件 -->  
 <!--    <context:property-placeholder location="classpath:/rock.properties"/> -->
     <context:property-placeholder location="classpath:/jdbc.properties"/>
   <!-- 加载系统的配置文件 --> 
     <import resource ="classpath:mybatis.xml"/>
     <!-- 配置引入mybatis配置文件 -->
     <import resource ="classpath:spring_dao.xml"/>
      
</beans>   